### View Leaspy Datasets

LEArning Spatiotemporal patterns in Python (LEASPY)

In [1]:
from leaspy.datasets import Loader

# Available datasets:  'parkinson-multivariate', 'alzheimer-multivariate', 'parkinson-putamen', 'parkinson-putamen-train_and_test'

In [2]:
df = Loader.load_dataset("parkinson-putamen-train_and_test")
df.head()

                         PUTAMEN
ID     TIME      SPLIT
GS-001 71.354607 train  0.728492
       71.554604 train  0.735620
       72.054604 train  0.757409
       73.054604 train  0.800754
       73.554604 train  0.870756

In [3]:
df = Loader.load_dataset("parkinson-putamen")
df.head()

                   PUTAMEN
ID     TIME
GS-001 71.354607  0.728492
       71.554604  0.735620
       72.054604  0.757409
       73.054604  0.800754
       73.554604  0.870756

In [4]:
df = Loader.load_dataset("alzheimer-multivariate")
df.head()

                  E-Cog Subject  E-Cog Study-partner      MMSE     RAVLT  \
ID     TIME
GS-001 73.973183       0.071810             0.255243  0.111998  0.510524
       74.573181       0.053760             0.421595  0.029991  0.749223
       75.173180       0.363521             0.468240  0.121922  0.779680
       75.773186       0.137230             0.414079  0.092102  0.649391
       75.973183       0.277381             0.305948  0.203874  0.612311

                       FAQ   FDG PET  Hippocampus volume ratio
ID     TIME
GS-001 73.973183  0.178827  0.454605                  0.543237
       74.573181  0.181327  0.450064                  0.481115
       75.173180  0.026179  0.662006                  0.483603
       75.773186  0.156153  0.585949                  0.584907
       75.973183  0.320484  0.634809                  0.490246

In [5]:
df = Loader.load_dataset("parkinson-multivariate")
df.head()

                  MDS1_total  MDS2_total  MDS3_off_total  SCOPA_total  \
ID     TIME
GS-001 71.354607    0.112301    0.122472        0.171078     0.160001
       71.554604    0.140880    0.109504        0.118693     0.135852
       72.054604    0.225499    0.270502        0.061310     0.211134
       73.054604    0.132519    0.253548        0.258786     0.245323
       73.554604    0.278923    0.321920        0.143350     0.223102

                  MOCA_total  REM_total  PUTAMEN_R  PUTAMEN_L  CAUDATE_R  \
ID     TIME
GS-001 71.354607    0.275257   0.492485   0.780210   0.676774   0.622611
       71.554604    0.380934   0.577203   0.751444   0.719796   0.618434
       72.054604    0.351172   0.835828   0.823315   0.691504   0.717099
       73.054604    0.377842   0.566496   0.813593   0.787914   0.770048
       73.554604    0.292768   0.741811   0.888792   0.852720   0.797368

                  CAUDATE_L
ID     TIME
GS-001 71.354607   0.494641
       71.554604   0.530978
       72.054604   0.576978
       73.054604   0.709486
       73.554604   0.715465